/* Загальний стиль для всього тіла сайту */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
}

/* Стилі для шапки */
header {
    background-color: #1e1e1e;
    padding: 15px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: left;
    padding: 0 15px;
}

header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

header .logo img {
    height: 30px;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ff4500;
}

/* Основний контент */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
}

/* Стилі для заголовків та описів */
.hero-categories {
    padding: 40px 15px;
    text-align: center;
}

.hero-categories h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ff4500;
}

.hero-categories p {
    font-size: 1.2rem;
    color: #aaa;
    margin-bottom: 40px;
}

/* Стилі для категорій героїв */
.category {
    margin-top: 40px;
}

.category h2 {
    font-size: 1.8rem;
    color: #ff4500;
    margin-bottom: 15px;
}

/* Стилі для списку героїв */
.heroes-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hero {
    background-color: #1e1e1e;
    width: 250px;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.hero:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.hero img {
    width: 100%;   /* Зображення займає всю ширину батьківського елемента */
    height: 150px; /* Фіксована висота для вирівнювання */
    object-fit: cover; /* Забезпечує збереження пропорцій без спотворення */
    border-radius: 5px;
    margin-bottom: 10px;
}

.hero h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #fff;
}

.hero p {
    font-size: 1rem;
    color: #aaa;
    margin-top: 10px;
}

/* Стилі для футера */
footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

footer a {
    text-decoration: none;
    color: #ff4500;
    transition: color 0.3s;
}

footer a:hover {
    color: #e03e00;
}
